section{
    height : 100vh;
    width : 100vw;
    background-image: url('https://www.w3schools.com/howto/img_parallax.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    opacity: 0.65;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.wrapper{
    z-index: 99;
    opacity: 1;
    max-width : 400px;
    background-color: #fff;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    box-shadow:  0 10px 15px rgba(0, 0, 0,0.1);
}
h1{
    font-size: 30px;
    font-weight: 600;
}
.form-controls label{
    display : block;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
    color: #000;
}
.form-controls input{
    width : 100%;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 3px;
    outline: none;
}
input[type="submit"]{
    display: inline-block;
    float: right;   
    margin-top: 10px;
    background-color: orange;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}
h2{
    clear: both;
    font-size: 20px;
    margin-top: 5px;
}
@media screen and (max-width: 768px){
    .wrapper h1{
        font-size: 22px ;
    }
    label{
        font-size: 12px ;
    }
    h2{
        font-size: 16px;
    }
}