.form-check {
  margin-top: 15px !important;
}

.float-right {
  float: right !important;
}

.checkbox:active {
  outline: none !important;
  --webkit-box-shadow: none !important;
}

.form-control-range {
  margin-left: 5px !important;
}

.errors {
  font-size: 14px;
  color: #ff5262;
  margin: 5px 0;
  display: block;
}

* {
  --webkit-box-shadow: none !important;
}
