@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
::selection{
  color: #ffff;
  background: rgb(142, 73, 232);
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
    /* overflow: hidden; */
    padding : 10px;
}

.wrapper{
    max-width: 400px;
    background:#fff;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.1);
}
.todo-header{
    font-size: 30px;
    font-weight: 600;
}
.todo-body{
    width : 100%;
    display : flex;
    margin : 20px 0;
    height : 45px;
}
.todo-body input{
    width: 85%;
    height : 100%;
    padding-left: 15px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: all .3s linear;
    font-size: 17px;
}
.todo-body input:focus{
    border-color: #8E49E8;
}
.todo-body button{
    cursor:  pointer;
    transition : all .3s linear;
    width : 50px;
    height : 100%;
    color: #fff;
    background: #8e49e8;
    margin-left: 5px;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 21px;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
}
.todo-body button:hover{
    background: #721ce3;
}
.todo-body button.active{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .todo-list{
    overflow-y: auto;
    max-height: 250px;
}

.todo-list li{
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
  }
  .todo-list li .icon{
    position: absolute;
    right: -45px;
    background: #e74c3c;
    width: 45px;
    text-align: center;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .todo-list li:hover .icon{
    right: 0px;
  }

.wrapper .footer{
    display: flex;
    width: 100%;
    margin-top:20px;
    align-items: center;
    justify-content:  space-between;
}
.footer button{
    padding : 6px 10px;
    border-radius: 3px;
    display : inline-block;
    border : none;
    outline : none;
    font-size: 16px;
    font-weight: 400;
    transition : all .3s linear;
    cursor :  pointer;
    pointer-events: none;
    opacity:  0.6;
    margin-left: 5px;
    color : #fff;
    background : #8e49e8;
}
.footer button.active{
    opacity: 1;
    pointer-events: auto;
}
@media (max-width: 800px){
    .wrapper{
        margin : 0 auto;
    }
}   