.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  outline: none;
  margin: 80px 0 90px 0;
}

.form__data {
  padding: 5px 20px;
}

.form__label {
  display: block;
  margin: 5px 0;
  cursor: pointer;
  font-size: 18px;
}

.input,
.number,
.select {
  width: 100%;
  padding: 7px 12px;
  font-size: 18px;
  outline: none;
}

.input::-ms-clear {
  display: none;
}

.form__select {
  padding: 7px 0;
}

.radio__label {
  display: inline-block;
  margin: 10px 0;
}

.radio {
  width: 15px;
  height: 15px;
  margin: 15px 15px 0 10px;
  cursor: pointer;
}

.form__submit {
  display: inline-block;
  padding: 10px 18px;
  background-color: #12919d;
  color: #fff;
  border-radius: 5px;
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  float: right;
  clear: both;
}

.one-form-input {
  margin: 15px 0;
  outline: none;
}
